.trailhead-bg {
    background-image: url("../../img/Boulder_Pass_Trailhead.jpg");
}

.in-the-middle {
    cursor: pointer;
    position: absolute;
    top: 2em;
    left: 35em;
    display: block;
    width: 350px;
    z-index: 1000;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
